extends layout 

block content 
  h1 create post here 
  p 
  form(action="create" method="post")
    p title 
    input(type="text" name="title")
    p description 
    input(type="text" name="description")
    p 
    button(type="submit") create 
  p 
  form(action="/" method="get")
    button(type="submit") back